body{
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOSFf7WJHJDntfzvEJEeB5AKg2-I8nfHUB9Q&s")
  background-size: cover;
  background-position: center;
}
#hedchog {
  position: absolute;
  left: 100px;
  top: 100px;
  font-size: 48px;
}

