body{
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDWCaqWZvf17lG4dfPAiwjFGxrioqwB4VQGw&s");
  background-size: cover;
  background-position: center;
}
#hedchog {
  position: absolute;
  left: 100px;
  top: 100px;
  font-size: 40px;
}

